:root {
  --font: "Rubik", sans-serif;
  --color-menu: #4a4a4a;
  --color-background: #3cdbc0;
  --color-text: #ffffff;
}
* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-container {
  height: 20vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-adalab {
  display: block;
}

.header-ul {
  display: flex;
  flex-direction: row;
}
@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.header-logo {
  width: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-LinkBlog {
  padding-right: 20px;
  padding-bottom: 13px;
  padding-top: 13px;
  text-decoration: none;
  font-family: var(--font);
  color: var(--color-menu);
  font-size: 16px;
  text-transform: uppercase;
}
.header-LinkContacto {
  padding-bottom: 13px;
  padding-top: 13px;
  text-decoration: none;
  font-family: var(--font);
  color: var(--color-menu);
  font-size: 16px;
  text-transform: uppercase;
}
.main-container {
  height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .main-container {
    padding-left: 50vw;
    padding-right: 50vw;
    font-size: 40px;
  }
}
.main-title {
  text-align: center;
  color: var(--color-text);
  font-family: var(--font);
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
}
